*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.body__image {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: blur(1.5px);
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

header,
main,
footer {
  background-color: #000000CC;
}

.header {
  position: relative;
}

.header::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  width: 100%;
  max-width: 1300px;
  height: 1px;
  background-color: #CCC;
  content: '';
}

.header__box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.header__logo {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  color: white;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}

.header__link {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  color: white;
}

.menu-wrap {
  display: none;
  position: absolute;
  top: 12px;
  right: 50px;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .hamburger>div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.menu-wrap .hamburger>div::after {
  top: 10px;
}

.menu-wrap .toggler:checked+.hamburger>div {
  transform: rotate(135deg);
}

.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
  top: 0;
  transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover+.hamburger>div {
  transform: rotate(225deg);
}

.menu-wrap .toggler:checked~.menu {
  visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked~.menu>div>div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu>div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu>div>div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu>div>div>ul>li>a {
  font-weight: 600;
  color: black;
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu {
  background-color: #FFFFFFAA;
}

.about {
  position: relative;
  width: 100%;
  padding: 100px 0;
}

.about__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__left {
  width: 100%;
  max-width: 500px;
}

.about__iframe {
  border-radius: 10px;
  border: none;
}

.about__title {
  margin-top: 0;
  font-size: 25px;
  font-weight: 600;
  color: white;
}

.about__text {
  margin-top: 0;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.about__more {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: #00bafc;
  padding: 10px 25px;
  border-radius: 10px;

}

.about__more:hover {
  color: #ffffffDE;
  background-color: #00bafcDE;
}

.about__more:active {
  color: #FFFFFFAA;
  background-color: #00bafcAA;
}

.course {
  position: relative;
}

.course::after {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  width: 100%;
  max-width: 1300px;
  height: 1px;
  background-color: #CCC;
  content: '';
}

.course__box {
  padding: 40px 0;
}

.course__title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  color: #FFF;
}

.course__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.course__item {
  width: 330px;
  border-radius: 10px;
  background: #FFFFFF66;
  margin: 0 auto;
}

.course__img {
  width: 100%;
  max-width: 330px;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.course__content {
  padding: 20px 15px;
}

.course__subject {
  margin: 0;
  margin-bottom: 12px;
}

.course__text {
  margin: 0;
  margin-bottom: 12px;
}

.course__link {
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  color: #FFFFFF;
  background: #00BAFC;
  border-radius: 5px;
  padding: 8px 16px;
  transition: all 0.2s ease;
  cursor: pointer;
}


.contact {
  position: relative;
  width: 100%;
  padding: 40px 0;
}

.contact::after {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  width: 100%;
  max-width: 1300px;
  height: 1px;
  background-color: #CCC;
  content: '';
}

.contact__box {
  margin: 0 auto;
}

.contact__title {
  margin-top: 0;
  text-align: center;
  color: #FFFFFF;
}

.contact__text {
  margin-top: 0;
  text-align: center;
  color: #FFFFFF;
}

.contact__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__maps {
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.contact__item {
  width: 380px;
  background: #FFFFFF66;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 24px;
  text-align: center;
}

.contact__user {
  width: 100%;
  max-width: 300px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  border: 0px;
  background: #F3F3F377;
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 16px;
}

.contact__user::placeholder {
  color: #333;
}

.contact__textArea {
  width: 100%;
  max-width: 300px;
  border: none;
  background-color: #F3F3F377;
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 16px;
  resize: none;
}

.contact__textArea::placeholder {
  color: #333;
}

.contact__submit {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background: #00BAFC;
  border: 0px;
  border-radius: 5px;
  padding: 8px 16px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.contact__submit:hover {
  background: rgba(0, 186, 252, 0.8);
}

.contact__submit:active {
  background: rgba(0, 186, 252, 0.6);
}

.footer {
  position: relative;
  padding: 30px 0 50px;
}

.footer::after {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  width: 100%;
  max-width: 1300px;
  height: 1px;
  background-color: #CCC;
  content: '';
}

.footer__box {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.footer__left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer__tel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__tel>a {
  display: inline-block;
  color: #FFFFFF;
}

.footer__logo {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
}

.footer__right {
  display: flex;
  align-items: flex-start;
  gap: 80px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__link {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
}

@media only screen and (max-width: 1300px) {
  .about__box {
    flex-direction: column;
  }

  .about__left {
    margin-bottom: 30px;
    text-align: center;
  }
}

@media only screen and (max-width: 688px) {
  .about__iframe {
    width: 500px;
    height: 250px;
  }

  .contact__content {
    flex-direction: column;
  }

  .contact__maps {
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
  }

  .contact__item {
    width: 100%;
    max-width: 500px;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
  }

  .contact__textArea {
    display: block;
    margin: 0 auto 20px;
  }

  .contact__submit {
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 542px) {
  .about__iframe {
    width: 300px;
    height: 200px;
  }

  .contact__maps {
    width: 300px;
    height: 300px;
  }

  .contact__item {
    max-width: 300px;
  }

  .footer__right {
    gap: 40px;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    position: fixed;
    z-index: 2;
    right: 0;
    left: 0;
    background-color: #000000AA;
  }

  .about {
    margin-top: 87px;
  }

  .header__list {
    display: none;
  }

  .menu-wrap {
    display: block;
  }
}

@media only screen and (max-width: 400px) {
  .about__iframe {
    width: 260px;
  }

  .contact__maps {
    width: 260px;
  }

  .contact__item {
    max-width: 260px;
  }

  .footer__box {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .footer__left {
    align-items: center;
  }
}